#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11

!------------------------------------------------------------------------------
! u r x v t

!URxvt*foreground: #00cc00
URxvt*foreground_bold: #a8a19f
URxvt*cursor: #a8a19f
!URxvt*background:       #1b1918

!! black
URxvt*color0: #1b1918
URxvt*color8: #766e6b
!! red
URxvt*color1: #f22c40
URxvt*color9: #f22c40
!! green
URxvt*color2: #5ab738
URxvt*color10: #5ab738
!! yellow
URxvt*color3: #d5911a
URxvt*color11: #d5911a
!! blue
URxvt*color4: #407ee7
URxvt*color12: #407ee7
!! magenta
URxvt*color5: #6666ea
URxvt*color13: #6666ea
!! cyan
URxvt*color6: #00ad9c
URxvt*color14: #00ad9c
!! white
URxvt*color7: #a8a19f
URxvt*color15: #f1efee

URxvt.font: xft:ubuntu:size=10
URxvt.scrollBar: false
URxvt.letterSpace: -2
URxvt*urlLauncher:         firefox  
URxvt*scrollBar:        false
urxvt*depth: 32

URxvt*saveLines:12000

URxvt*foreground:white
URxvt*background:black

URxvt.perl-ext-common: default,matcher,tabbed
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.internalBorder:  4
